<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Input</title>
</head>
<body>
    <h1>Enter the name and the similarity percentage threshold</h1>
    <form action="/process" method="post">
        <label for="text">Name:</label>
        <input type="text" id="text" name="text"><br><br>
        <label for="number">Threshold:</label>
        <input type="text" id="number" name="number"><br><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>